@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

body{
    font-family: 'Quicksand', sans-serif;
    margin: 0;
    padding: 0;
}

nav li{
    display: inline;
    margin-right: 50px;
    text-align: right;
    padding: 10px;
}
nav li a:hover{
    color: white;
    background-color: #00a2c6;
    border-radius: 30px;
}

nav li a{
    text-decoration: none;
    color: black;
    padding: 20px;
    margin: 5px;
}

nav{
    background-color: aqua;
    padding: 20px;
    position: fixed;
    width: 100%;
    top: 0;

}

nav ul{
    text-align: right;
}

.container{
    display: flex;

    width: 800px;
    height: 500px;
    margin: 0;
    background-color: aquamarine;
    margin: 0 auto;
    border: 2px solid black;
    border-radius: 5px;
    padding: 20px;
}

.box{
    background-color: burlywood;
    border: 3px solid black;
    border-radius: 10px;
    margin: 20px;
    
}

.satu{
    flex-grow: 1;
}

.dua{
    flex-grow: 2;
}

.tiga{
    flex-grow: 1;
}

.kotak{
    display: flex;
    flex-direction: row;

    width: 600px;
    height: 300px;
    background-color: bisque;
    margin: 0 auto;
    border: 3px solid black;
    border-radius: 10px;
}